version: "3.7"
services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: mumi

  web:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      ConnectionStrings__DefaultConnection: "Server=db;Database=Clinica;User Id=postgres;Password=mumi;Port=5432"
    depends_on:
      - db
    ports:
      - 8080:80
